annotated-types
anyio
blinker
click
colorama
fastapi
Flask
greenlet
h11
idna
itsdangerous
Jinja2
MarkupSafe
mysql-connector-python
mysqlclient
numpy
pandas
protobuf
pydantic
pydantic_core
PyMySQL
python-dateutil
python-dotenv
pytz
six
sniffio
SQLAlchemy
starlette
typing_extensions
tzdata
uvicorn
Werkzeug
